@media only screen and (min-width: 1024px ) {

    
    .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    }
    
    form label.sbs {
        padding: .4rem 0;
    }
    
    .town {
        width: 100%;
    }
    
    .resize {
        width: 30%;
    }
    
    .mainpage  {
        flex-direction: row;
        justify-content: space-around;
        max-width: 100%;
    }
    
    .datastyle {
        text-align:left;
    }
    
    .mainpage h3 {
        margin-bottom: .5rem;
    }
    #img {
        margin-bottom: 4rem;
    }
    
    .mainpage > div {
        flex-direction: column;
    }
    
    .mainpage div:nth-child(odd){
        flex-direction: column;
    }
  }