@media only screen and (min-width: 1024px ) {

   /* nav ul li a {
        padding: .6rem 1rem;
    }*/
    
    #weatherImage {
    margin-top: 4rem;
    /*max-width: 96px;*/
    }
    
    .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    }
    
    form label.sbs {
        padding: .4rem 0;
    }
    
    .town {
        width: 100%;
    }
    
    .resize {
        width: 30%;
    }
    
    .mainpage  {
        flex-direction: row;
        justify-content: space-around;
        max-width: 100%;
    }
    
    .mainpage > div {
        flex-direction: column;
    }
    
    .mainpage div:nth-child(odd){
        flex-direction: column;
    }
  }