* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

/*-----BODY-----*/

body {
    font-family: 'Special Elite', cursive;
    font-family: 'EB Garamond', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Exo', sans-serif;
    align-items: center;
    align-content: center;
    text-align: left;
    background-color: #A0AEBA;
}

/*-----HEADER-----*/

.headColor {
    background-color: #123F65;
}

.topBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo {
    background-color: #5FB4FE;
    height: 50%;
}

#topBan {
    background-color: #3176B2;
    margin-left: .7rem;
    margin-right: .7rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 3rem;
    color: whitesmoke;
    margin-top: 4rem;
}

.headImg {
    width: 100%;

}

/*------NAV-----*/

nav {
    clear: both;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #111;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #123F65;
}

nav li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #5FB4FE;
    color: black;
}

.active {
    background-color: #3176B2;
}

@media only screen and (max-width: 600px) {
    nav ul.hide {
        display: none;
    }
}


/*-----MAIN-----*/

.mainClickImg {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
    margin-left: 3rem
}

.clickImg {
    width: 75%;
}

/*-----ADVENTURE TOURS PAGE-----*/

#tourTitle, .tourCaption {
    font-family: 'Libre Baskerville', serif;
    color: #123F65;
    text-align: center;
}

#tourTitle {
    font-size: 3rem;
}

.tourCaption {
    font-size: 1.5rem;
}

.tourDescription {
    font-size: 1.2rem; 
}

.tourDescription, .tourExperience, .tourPrice {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: #123F65;
    
}
.tourPrice {
    font-size: .9rem;
}

/*------SERVICES PAGE-----*/

.wp-table tr:nth-child(odd) {
    background-color: #fff;
}

.wp-table tr:nth-child(even) {
    background-color: #f1f1f1;
}

.wp-table tr {
    border-bottom: 1px solid #ddd;
}

.wp-table th:first-child,
.wp-table td:first-child {
    padding-left: 16px;
}


.wp-table td,
.wp-table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.wp-table th {
    font-weight: bold;
}

.wp-table {
    font-size: 13px !important;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

/*-----FORM-----*/

/*-----FOOTER-----*/

footer {
    float: center;
    text-align: justify;
    background-color: #123F65;
    width: 100%;
    height: 10rem;
}

.footer-bar,
.contact,
.resources,
.copyright {
    font-family: 'EB Garamond', serif;
    background-color: #3176B2;
    color: lightgray;
    text-decoration: none;
}

.footer-bar,
.contact,
.resources {
    /*font-size: .9rem;*/
}

#footerLinks {
    /*float: right;*/
}

/*------BOTTOM NAV------*/

/* Place the navbar at the bottom of the page, and make it stick */

.navbar {
    background-color: #123F65;
    overflow: hidden;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */

.navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 17px;
}

/* Change the color of links on hover */

.navbar a:hover {
    background-color: #5FB4FE;
    color: black;
}

/* Add a color to the active/current link */

.navbar a.active {
    background-color: #3176B2;
    color: white;
}

/*-----HOME PAGE----*/

.mainCaption {
   font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color: #123F65;
}

#continentBtn {
    font-family: 'Libre Baskerville', serif;
    max-width: 20rem;
    border-radius: .8rem;
    background-color: #333;
    color: whitesmoke;
    padding: 1.5rem;
    font-size: 1.5rem;
}

/*-----THANK YOU PAGE----*/

/*------FORM-----*/

#continentalTitle {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    color: #123F65;
    text-align: center;
}

.formSection {
    font-family: 'Quicksand', sans-serif;
}

form fieldset {
    margin: auto;
    border: 1px solid #123F65;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 50%;
    box-shadow: 4px 5px 4px #123F65;
    margin-bottom: 2rem;
    
}

form legend {
    color: #123F65;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 2rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #123F65;
    font-size: 1.4rem;
    border-radius: 1rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
}

form label.sbs{
    display: block;
    padding: .75rem;
}

form input.submitBtn {
    border: none;
    background-color: #333;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem; 
}

form label.top input:required {
    border-left: #3176B2 solid 6px;
}

form label.top input:required:valid {
    border-left: #123F65 solid 6px;
}

textarea {
    width: 80%;
    border-radius: .5rem;
}

.contentAlign {
    border-radius: 4rem;
}

