@media only screen and (min-width: 600px) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
/*------HEADER------*/
   
    .topBanner { 
        flex-direction: row;
    } 
    
    header > img {
        display: block;
        float: left;
        height: 75%;
    }
    
    h1 {
        flex-wrap: wrap;
        width: 100%;
    }
    
/*----NANIGATION----*/
    
    nav button { display:none; 
    }  /* hamburger button does not need to be shown in the medium on up views */
    nav ul {
        flex-direction: row;
    }
    
    .footer-bar, .contact, .resources, .copyright {
        padding: 1.2rem;
    }
/*-----MAIN-----*/
    
    .mainClickImg {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    margin-left: 12rem
}
    
}