* {
	box-sizing: border-box;
}  /* This wildcard applies to all elements ensuring a box layout model */
body {
	font-size: 16px;
	font-family: karla, playfair-display, sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
}

main > img {
    width: 100%;
}

header, nav, main, footer {
	/*min-width: 480px;*/
    max-width: 960px;
    /*background-color: aliceblue;*/
/* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header { 
    margin: 0  auto;
    /*background-color: navy;*/
}

header h1 {
    font-family: playfair-display;
    display:inline;
	color: purple;
	font-size: 3.4rem;
}

/*/.topHeader{
}*/

th {
    padding: 2px;
    border: 1px solid black;
    background-color: #333;
    color: whitesmoke;
}

td {
    padding: 2px;
    border: 1px solid black;
}

/*#topBanner{
}*/

#topBannerBox{
    /*width: 450px;*/
    text-align: left;
    padding: 10 auto;
    margin-bottom: 10 auto;
   /* background-color: chartreuse;*/
}

#weatherImage{
    float: left;
    margin-right: 10px;
    display: inline-flex;
    /*max-width: 96px;*/
}

.conditions, picture {
    float: center; 
}
.conditions, h3 {
    font-size: 2rem; 
}

.conditions, p {
    font-size: 1rem;
}

/*header img {
}*/

header .subheading {
    margin: 0 0 5 0;
    padding: 0 auto;
    font-size: 2rem;
   /* background-color: chocolate;*/
}

/*nav button {
}*/

nav {
    clear: both;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*main {
}*/

main h2 {
    font-family: playfair-display;
	color: blueviolet;
    font-size: 3rem;
}

main figure {
	margin: 0 0 .2rem 2%;
    /*background-color: palevioletred;*/
}

/*main figure img {
}*/

.current img {
    width: 128px;  
}

#weathercondition {
    font-size: 1.3rem; 
    /*background-color: aquamarine;*/
}

#articletitle {
    font-size: 2rem;
    font-family: serif;
    /*background-color: cadetblue;*/
}

.town-article {
    display: block;
    text-align: left;
    font-size: 1.1rem;
   /* background-color: indianred;*/
}

.forecast{
    display: none;
    /*min-width: 250px;*/
   /* max-width: 599px;*/
   /* background-color: darkseagreen*/
}
article img {
    float: left;
    width: 45%;
}
/*footer {
background-color: pink
}*/

h5 {
    font-size: 1.5rem;
    /*background-color: navajowhite*/
}

.footer-bar{
    font-family: karla, sans-serif;
      font-size: 1rem;  
}
