* {
	box-sizing: border-box;
	margin: auto
}  /* This wildcard applies to all elements ensuring a box layout model */
body {
	font-size: 16px;
	font-family: sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
    
}
header, nav, main, footer {
	min-width: 480px;
    max-width: 1024px;
/* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}
header { 
}
header h1 {
    display:inline;
	color: purple;
	font-size: 2.4rem;
}
.topHeader{
}
.tenDayForecast{
    display: none;
}
#topBanner{
}
#topBannerBox{
    width: 450px;
    text-align: left;
    margin-bottom: 10px;
}
#weatherImage{
    float: left;
    margin-right: 10px;
    
    display: inline-flex;
    max-width: 96px;
}
.franklincity {
    max-width: 450px;
}
header img {

}
header .subheading {
}

nav button {
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
nav {
    display: none;
}
main {
}
main h2 {
	color: blueviolet;
}
main figure {
	margin: 0 0 .2rem 2%;
}
main figure img {
}
footer {
	}