@media only screen and (min-width: 600px) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    .franklincity{
        max-width: 450px;
        //width: auto;
        //float:left;
    }
    .tenDayForecast{
        display: block;
    }
    nav{
        display: inline-flex;
    }

    section.forecast { 
        /*min-width: 481px;
        max-width: 860px;*/
        width: 600px;
    }  /* show the 10-day forecast with the medium view and up */

  }