* {
	box-sizing: border-box;
}  /* This wildcard applies to all elements ensuring a box layout model */

/* ------ BODY ----- */

body {
	font-size: 16px;
	font-family: 'Playfair Display SC', serif;
    font-family: 'Karla', sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
}

/* ----- BODY ----- */


/* ------ HEADER ------ */

header, nav, main, footer {
    max-width: 960px;
/* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    display: flex,
    justify-content: center;
    align-items: center;
    /*margin: 0  auto;*/
}

header h1 {
    font-family: 'Playfair Display SC', serif;
	color: purple;
	font-size: 3.4rem;
}

/*header img {
}*/

 .subheading {
    margin: 0 0 5 0;
    padding: 0 auto;
    font-size: 2rem;
}

.caption {
    font-size: .7rem;
}

/*/.topHeader{
}*/

/*#topBanner{
}*/

/*#topBannerBox{
    text-align: left;
    padding: 10 auto;
    margin-bottom: 10 auto;
}

#weatherImage{
    float: left;
    margin-right: 10px;
    display: inline-flex;
}

.conditions, picture {
    display: flex;
    justify-content: center;
}
.conditions, h3 {
    font-size: 2rem; 
}

.conditions, p {
    font-size: 1rem;
}*/

/* ------ HEADER ------ */

/* ------ NAV ------ */

nav {
    clear: both;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #111;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    /padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
@media only screen and (max-width: 600px){
nav ul.hide {
    display:none;
}
}

/* ------ NAV ------ */

/* ------ MAIN ----- */

/*main {
}*/

main h2 {
    font-family: 'Playfair Display SC', serif;
	color: blueviolet;
    font-size: 3rem;
}

/*main figure {
	margin: 0 0 .2rem 2%;
}*/

main > img {
    width: 100%;
}

/* ------- MAIN ----- */

/* ------ WEATHER SUMMARY ------ */
.weather-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlow {
    
}
.current img {
    width: 128px;  
}

.conditions h3 {
    font-size: 2rem; 
}

/*#weathercondition {
    font-size: 1.3rem; 
}*/

/* ------ WEATHER SUMMARY ------*/

/* ------ FORCAST ----- */

.forecast{
    display: none;
}

/* ------ FORCAST ----- */


/* ------ TABLE ------ */
th {
    padding: 2px;
    border: 1px solid black;
    background-color: #333;
    color: whitesmoke;
}

td {
    padding: 2px;
    border: 1px solid black;
}

/* ------ TABLE ------ */


/* ------ ARTICLE ------ */

article img {
    float: left;
    width: 45%;
    margin: 10px;
}

#articletitle {
    font-size: 2rem;
    font-family: 'Playfair Display SC', serif;
}

.town-article {
    display: block;
    text-align: left;
    font-size: 1.1rem;
}

/* ------ ARTICLE ------ */

/* ------ FOOTER ------ */

footer {
    display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	padding: 10px;*
}

h5 {
    font-size: 1.5rem;
}

.footer-bar{
    font-family: 'Karla', sans-serif;
    font-size: 1rem;  
}

/* ------ FOOTER ------ */

/* ------ GALLERY ------- */
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 50%;
}

/* ------- GALLERY -------- */