/* CIT 230 - Assignment Portal CSS Template */

{ margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:  Helvetica, Avenir, sans-serif;
    color: coral;
}

h1 {
    font-size: 4.5rem  (rem is a unit of measure);
    color: cadetblue;
}

h2 {
    font-size: rem;
    text-align: center;
    border-bottom: 1px solid black;
}

header, main, footer {
    margin: .5rem auto;
    padding: 1.5rem;
    max-width: 420px (px = pixel is a unit of measure);
}

header, footer, footer a {
    text-align: center;
    background-color:cadetblue;
    color: whitesmoke;
}

header img {
    width: ;
    height: auto;
    float: right;
}

footer {
    font-size: smaller;
}